<div class="row">
  <div class="col-md-12" style="text-align:center">
    <sign ng-model="sign"></sign>
  </div>
</div>
<br/>
<div class="row">
  <br/>
  <br/>
  <br/>
</div>
<div class="container">
  <div class="col-md-2">


  </div>
  <div class="col-md-8">
   <div class="controls">
    <a href="" class="green" ng-click="sign.color = 'green'"></a>
    <a href="" class="blue" ng-click="sign.color = 'blue'"></a>
    <a href="" class="brown" ng-click="sign.color = 'brown'"></a>
    <a href="" class="white" ng-click="sign.color = 'white'"></a>
    <a href="" class="orange" ng-click="sign.color = 'orange'"></a>
    <a href="" class="yellow" ng-click="sign.color = 'yellow'"></a>
    <a href="" class="red" ng-click="sign.color = 'red'"></a>
    <a href="" class="black" ng-click="sign.color = 'black'"></a>
    <div class="clearfix"></div>
  </div>
  <form class="form form-inline">
    <div ng-repeat="line in sign.lines" style="margin-bottom:10px;">
      <div class="row">
        <div class="col-md-6">
         <button class="btn btn-default btn-lg " type="button" ng-click="appendLeft(line)">
          <i ng-repeat="icon in icons" ng-show="line.appendLeft === icon" class="{{icon}}">
            <span ng-if="icon === ''">&#160;&#160;&#160;</span>
          </i>
        </button>
        <input class="form-control input-lg" ng-trim="false" ng-model="line.text" />
        <button class="btn btn-default btn-lg " type="button" ng-click="appendRight(line)">
          <i ng-repeat="icon in icons" ng-show="line.appendRight === icon" class="{{icon}}">
            <span ng-if="icon === ''">&#160;&#160;&#160;</span>
          </i>
        </button>
      </div>
      <div class="col-md-6">
        <div class="btn-group">
          <button class="btn btn-default btn-lg" type="button" ng-click="line.size = 'medium'">SM</button>
          <button class="btn btn-default btn-lg" type="button" ng-click="line.size = 'big'">MD</button>
          <button class="btn btn-default btn-lg" type="button" ng-click="line.size = 'xbig'">LG</button>
        </div>
        <div class="btn-group">
          <button class="btn btn-danger btn-lg" type="button" ng-click="sign.lines.splice($index,1)"><i class='glyphicon glyphicon-trash'></i></button>
        </div>

      </div>
    </div>
  </div>
</form>
<div class="row" style="margin-top:10px;">
  <div class="col-md-6">
    <button class="btn btn-primary btn-lg btn-block" ng-click="sign.addLine('')">Add a Line</button>
  </div>
  <div class="col-md-6">
    <button class="btn btn-primary btn-lg" ng-click="save()">Save</button>
    <div class="btn-group">
      <button type="button" class="btn btn-lg btn-primary dropdown-toggle" data-toggle="dropdown">
        Download <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a ng-href="/sign/{{sign.id}}/image">Image</a></li>
      </ul>
    </div>
    <a href="#/" class="btn btn-success btn-lg">New</a>
  </div>
</div>
</div>
</div>